<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="container navbar-nav">
      <%= link_to "Index", todos_path, class: "nav-item nav-link" %>
      <li><%= link_to "Crear ToDo", todos_new_path, class: "nav-item nav-link" %></li>
      <li><%= link_to "List", todos_list_path, class: "nav-item nav-link" %></li>
    </div>
  </div>
</nav>
